*{
    box-sizing: border-box;
}
  
.flex-container{
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
}
  
.flex-item-left{
    background-color: #f1f1f1;
    padding: 10px;
    flex: 25%;
}
  
.flex-item-right{
    background-color: dodgerblue;
    padding: 10px;
    flex: 25%;
}

@media screen and (max-width: 768px){
    .flex-item-right, .flex-item-left{
        flex: 100%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px){
    .flex-item-right, .flex-item-left{
        flex: 50%;
    }
}